


body {
    background-color: rgb(238, 177, 238);
}


#home-title {
    color: darkblue;
    font-size: 5rem;
    font-weight: bold;
}


#index-title,
#edit-title,
#create-title,
#show-title {
    color: darkblue;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    span {
        color: rgb(148, 17, 17);
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 30px;
    }

}

.hide {
    display: none;
}


