

header {
    height: 100px;
    background-color: rgb(50, 8, 50);
    color: white;
    line-height: 85px;
    a {
        color: white;
        text-decoration: none;
        margin-right: 15px;
        &:hover {
            color: rgb(154, 152, 152);
            text-decoration: underline;
            text-underline-offset: 7px;
        }
    }

}

